.consumer-goods #slider .slick-slide {
  z-index: 1 !important; }
  .consumer-goods #slider .slick-slide img {
    width: 100%; }

.consumer-goods #slider .slick-dots {
  position: absolute;
  bottom: 25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 2; }
  .consumer-goods #slider .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 8px;
    padding: 0;
    cursor: pointer;
    vertical-align: middle; }
    .consumer-goods #slider .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 10px;
      height: 10px;
      padding: 0px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: #ffffff;
      opacity: .5;
      border-radius: 50%; }
    .consumer-goods #slider .slick-dots li.slick-active button {
      opacity: 1; }

.consumer-goods .sub-title {
  margin-top: 100px;
  color: #639b00;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px; }

.consumer-goods .contents {
  margin-top: 40px; }
  .consumer-goods .contents-box {
    width: 50%; }
    .consumer-goods .contents-box h1 {
      font-size: 42px;
      font-weight: 600; }
    .consumer-goods .contents-box .line {
      height: 100px;
      width: 2px;
      background: #000000;
      display: block;
      margin: 40px 0; }
    .consumer-goods .contents-box p {
      text-align: justify;
      line-height: 1.5; }
    .consumer-goods .contents-box h2 {
      font-size: 20px;
      width: 75%; }
    .consumer-goods .contents-box .gallery {
      margin-left: 100px;
      margin-top: 180px;
      position: relative; }
      .consumer-goods .contents-box .gallery .image1 {
        width: 300px;
        position: relative;
        z-index: 2; }
      .consumer-goods .contents-box .gallery .image2 {
        position: absolute;
        width: 225px;
        top: -75px;
        height: 300px;
        object-fit: cover;
        z-index: 1; }
      .consumer-goods .contents-box .gallery .image3 {
        width: 400px;
        height: 250px;
        object-fit: cover;
        margin-left: 79px;
        max-width: unset;
        margin-top: 5px; }
      .consumer-goods .contents-box .gallery .image4 {
        width: 225px;
        height: 300px;
        object-fit: cover;
        z-index: 1;
        margin-top: 5px; }
      .consumer-goods .contents-box .gallery .image5 {
        position: absolute;
        width: 300px;
        object-fit: cover;
        z-index: 1;
        margin-left: 5px;
        margin-top: 5px; }

.consumer-goods .partner {
  margin-top: 200px;
  background: #f4f4f4;
  padding-bottom: 90px; }
  .consumer-goods .partner-box {
    width: 50%; }
    .consumer-goods .partner-box.company {
      margin-top: -120px; }
    .consumer-goods .partner-box.info {
      padding-left: 200px; }
      .consumer-goods .partner-box.info .title {
        font-size: 42px;
        margin-top: 20px; }
      .consumer-goods .partner-box.info p {
        margin-top: 50px;
        text-align: justify; }
  .consumer-goods .partner-company {
    padding: 60px 70px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    width: fit-content;
    border-radius: 5px;
    margin-top: 30px;
    background: #ffffff; }
    .consumer-goods .partner-company.sugar {
      padding: 40px 70px; }
    .consumer-goods .partner-company.kimberly {
      margin-left: 70px; }
    .consumer-goods .partner-company.perfetti {
      padding: 40px 70px; }
