
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    @media screen and (max-width: 767px) {
       margin: 0 15px;
       &-header{
           margin: 0;
       }
    }
}

.pc{
    display: block;
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.sp{
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
    }
}

.wrapper{
    background: url(../img/bg.png) repeat-y;
    background-size: 100%;
    &.menu-open{
        position: fixed;
        right: 0;
        left: 0;
        &:after{
            content: "";
            z-index: 9;
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000000;
            opacity: .5;
        }
    }
}

.flexBox {
    display: flex;
    &-notSp{
        @media screen and (max-width: 767px) {
            display: block !important;
        }
    }
}

.flexBox--center {
    align-items: center;
}

.flexBox--between {
    justify-content: space-between;
}

.flexBox--arround {
    justify-content: space-around;
}

.flexBox--wrap {
    flex-wrap: wrap;
}
.pc{
    display: block;
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.sp{
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
    }
}
.header{
    //position: fixed;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #f2f2f2;
    height: 80px;
    @media screen and (max-width: 767px) {
        height: 60px;
    }
    .header-inner{
        background: url(../img/header_pattern.png);
        #logo {
            img{
                width: 90px;
            }
            @media screen and (max-width: 767px) {
                padding-left: 15px;
                img {
                    width: 70px;
                }
            }
        }
        .navigation{
            li{
                padding: 0 20px;
                position: relative;
                text-align: center;
            }
            li.active, li:hover{
                &::after{
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: #639b00;
                    position: absolute;
                    bottom: -31px;
                    left: 0;
                }
                a {
                    color: #639b00 !important;
                }
            }
        }
        .navigation-sp{
            position: fixed;
            z-index: 99;
            top: 60px;
            bottom: 0;
            overflow: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 42px 0 0;
            min-height: 100%;
            width: calc(100% - 60px);
            left: -100%;
            border-right: 1px solid #eee;
            -webkit-box-shadow: 1px 0 0 0 rgba(0, 0, 0, .05);
            box-shadow: 1px 0 0 0 rgba(0, 0, 0, .05);
            -webkit-transition: left .3s ease-in-out;
            -o-transition: left .3s ease-in-out;
            transition: left .3s ease-in-out;
            background-color: #fff;
            .gNavi-sp li{
                padding: 20px 30px;
                position: relative;
                text-align: left;
                font-size: 20px;
                &.active{
                    &::after{
                        content: "";
                        width: 50%;
                        height: 3px;
                        background: #639b00;
                        position: absolute;
                        bottom: 8px;
                        left: 30px;
                    }
                    a {
                        color: #639b00 !important;
                    }
                }
            }
            &.open{
                left: 0;
            }
        }
        .phone{
            .phone-number {
                color: #333333;
                font-weight: 600;
                text-align: center;
                line-height: 1;
                padding: 16px;
                background: #f2f2f2;
                .fa{
                    color: #639b00;
                    font-size: 20px;
                }
                @media screen and (max-width: 767px) {
                    padding: 16px 19px;
                    .fa{
                        font-size: 28px;
                    }
                }
            }
            .mail{
                text-align: center;
                background: #f74616;
                padding: 10px;
                a{
                    color: #ffffff !important; 
                    font-size: 14px;
                }
                .fa {
                    font-size: 20px;
                }
                @media screen and (max-width: 767px) {
                    padding: 16px;
                    .fa{
                        font-size: 28px;
                    }
                }
            }
        }
    }
    .header-hamburger{
        width: 60px;
        height: 60px;
        background: #000000;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        span{
            display: block;
            position: absolute;
            height: 2px;
            width: 40%;
            background: #ffffff;
            opacity: 1;
            left: 30%;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            &:nth-child(1){
                top: 30%;
            }
            &:nth-child(2){
                top: 50%;
            }
            &:nth-child(3){
                top: 70%;
            }
        }
        &.active{
            span{
                &:nth-child(1){
                    top: 50%;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                }
                &:nth-child(2){
                    opacity: 0;
                    left: -60px;
                }
                &:nth-child(3){
                    top: 50%;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }
            }
        }
    }
}

.footer{
    background: #1a1a1a;
}
.copyright{
    text-align: center;
    padding: 28px 0;
    color: #ffffff;
}